body{
    margin: 0;
    padding: 0;
    background-color: var(--white);
    width: 100vw;
    overflow-x: hidden;
}
*{
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    color: var(--black);
}
:root{
    --black:rgb(50,50,50);
    --orange:rgb(253, 133, 5);
    --white:beige;
}
#home{
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    top:0px;
    left: 0px;
}
/* Navigation part */

nav{
    position:fixed;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    height: 65px;
    z-index: 999999;
    transition: 0.6s;
}

#logo{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 7px;
    transition: 0.6s;
    cursor: pointer;
    text-decoration: none;
}
#logo-text{
    font-size: 3em;
    color: var(--orange);
}

#logo img{
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border-radius: 50%;
}
.nav-links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-right: 20px;
}
.nav-links a{
    text-decoration: none;
    color: var(--black);
    padding: 8px 16px;
    font-size: 1em;
    text-transform:uppercase;
    transition: 0.6s;
}
.nav-links a:hover{
    background-color:var(--black);
    color: var(--white);
    border: none;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
#menu{
    margin-right: 30px;
    display: none;
}
#menu .fa-bars{
    color: var(--black);
    font-size: 1.2em;
}

nav.sticky{
    background-color:var(--black);
}
nav.sticky .nav-links a{
    color: var(--white);
}
nav.sticky .nav-links a:hover{
    background-color: var(--white);
    color: var(--black);
}

/* Navigation End */

#home-data{
    position: relative;
    display: flex;
    gap: 5vw;
    padding: 20vh 0;
    justify-content: space-evenly;
    align-items: center;
}

#picture-container{
    position: relative;
    display: flex;
    height: 70vh;
    width: 30vw;
    justify-content: center;
    align-items: flex-end;
    border: none;
    box-shadow: 0px 0px 10px 5px var(--black);
    border-radius: 10px;

}
#picture-container img{
    position: relative;
    height: 80vh;    
}
#home-info{
    position: relative;
    display: flex;
    gap: 10px;
    height: 70vh;
    width: 55vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.6s;    
}
#wlc-msg{
    padding-top: 10vh;
    font-size: 1em;
    color: var(--black);
    font-weight: 400;
}
#name{
    font-size: 3em;
    color: rgb(50, 50, 50);
}
#name span{
    font-size: 50px;
    color: rgb(194, 8, 8);
    font-weight: 600;
}
#role-dev{
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
    color: rgb(50, 50, 50);
}
#buttons button{
    position: relative;
    display: flex;
    align-items: center;
    padding: 13px 26px;
    font-size: 20px;
    font-weight: 600;
    gap: 10px;
    color: rgb(50, 50, 50);
    border: none;
    background: linear-gradient(270deg, rgb(50,50,50), beige);
    border-radius: 50px;
    cursor: pointer;
}

#social{
    margin-top: 8vh;
    position:relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transition: 0.6s;       
}
#social-intro{
    font-size: 1em;
    font-weight: 600;
    color: var(--black);
    
}
#social #hr{
    margin-top: -18px;
    border: none;
    width: 80px;
    border: 1px solid var(--black);
    border-radius: 8px;
}
#social-medias{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 15px;
    gap: 15px;
    
}
.icons{
    font-size: 2em;

}

#social-medias a{

    padding:2px;
    cursor: pointer;
    width: 35px;
}
#social-medias a:hover{
    box-shadow: 0px 0px 10px 3px red;
    border-radius: 8px;
}

/* Home page css end */

#about{
    display: flex;
    justify-content: center;
    align-items: center;
}
#skill{
    display: flex;
    justify-content: center;
    align-items: center;
}

#project{
    display: flex;
    justify-content: center;
    align-items: center;
}
#service{
    display: flex;
    justify-content: center;
    align-items: center;
}

#contact{
    position: relative;
    display: flex;
    height: 70vh;
    padding: 20vh 0vw;
    background-color: beige;
    justify-content: space-evenly;
    align-items: center;
    
}

#left-contact{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 3vh 4vw;
    gap: 15px;
    align-items: flex-start;
    box-shadow: 0px 0px 10px 5px var(--black);
    border-radius: 10px;
}

#left-contact #title{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

#left-contact #title h2{
    position: relative;
    font-weight: 600;
    font-size: 40px;
    color: var(--orange);
    margin-top: 0px;
    margin-bottom: -8px;
}

#left-contact #title hr{
    position: relative;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 3px;
    background-color: var(--orange);
}
.contact-form{
    border: none;
    outline: none;
    display: flex;
    padding-left: 25px;
    flex-direction: column;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 50px;
}
.contact-form::placeholder{
    color: rgba(50, 50, 50, 0.69);
}
.contact-form:focus{
    border: 2px solid var(--black);
}
#left-contact textarea{
    padding-top: 20px;
    height: 60px;
    border-radius: 20px;
}
#left-contact button{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 13px 26px;
    color: rgb(50, 50, 50);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, rgb(50,50,50), beige);
    cursor: pointer;
}
#left-contact button img{
    height: 15px;
    width: 15px;
}
#right-contact{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

}
#contact-photo img{
    width: 200px;
    height: 200px;
}
#contact-photo{
    margin-top: 15px;
}
#contact-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    gap: 0px;
}
.contact-email,.contact-phone{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: -20px;
}
.contact-email p,.contact-phone p{
    padding-left: 20px;
    font-size: 20px;
    font-weight: 500;
    color: var(--black);
}
.fa-phone, .fa-envelope{
    color: var(--orange);
}

#web-footer{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 10vh;
    width: 100%;
    align-items: center;
}
#web-footer p{
    color: beige;
    font-size: 18px;
    font-weight: 400;
    padding-left: 15px;
}
#web-footer .fa-copyright{
    color: beige;
}